---
layout: splash
author_profile: true
excerpt: " Welcome to by website!"
intro: 
  - title: "About me"
    excerpt: "Hello! I am Seetharam, a Mechanical Engineer, interested in robotics, mechatronics and control theory. Feel free to check my webpage to know more!"
header:
  overlay_image: /images/biopic.jpg
  overlay_filter: 0.3
  caption: " Washington DC Chinatown"
  actions:
    - label: "LinkedIn"
      url: "https://www.linkedin.com/in/ks-seetharam/"
    - label: "Resume/CV"
      url :  /about/

feature_row1:
  - image_path: images/biopic2.jpg
    alt: "Research Image"
    title: "Research"
    excerpt: "I am interested in a wide range of research topics, all related to robotics, control theory and mechatronics. I am a researcher at the Assistive Robotics Lab, where we research on designing and controlling wearable robotics, such as exokeletons, haptic feedback based devices etc."
    link_label: "Lab website" 
    url:  "https://www.assistiveroboticslab.com/"   
    btn_class: "btn--primary"
feature_row2:
  - image_path: images/biopic.jpg
    alt: "Research Image2"
    title: "Portfolio"
    excerpt: "This is my portfolio." 
    link_url:  "https://drive.google.com/file/d/1Kkfeua_lQ5ger3Bzts1QZBZviyRxgLIB/view?usp=drive_link"
    link_label: "View my Portfolio" 
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="center" %}
